<!DOCTYPE html>
<html lang="en">
<head>
    {% if not devMode %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFHY9DKT6D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EFHY9DKT6D');
    </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ siteName }}{% endblock %}</title>
    <link rel="stylesheet" href="/dist/critical.css">
    {{ craft.vite.script("src/js/app.js", false) }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro&display=swap">
    <!-- Preload critical assets -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/favicon/favicon-16x16.png">
    <link rel="manifest" href="/dist/favicon/site.webmanifest">
    {% block headExtras %}{% endblock %}
    {% block jsonLd %}{% endblock %}
    {% hook 'seomateMeta' %}
</head>
<body class="bg-warm-beige text-gray-800 flex flex-col min-h-screen font-sans">
    {% include "@global/nav" %}

<main class="flex-grow container mx-auto px-4 py-8">
    {% if currentUser %}
        <div class="fixed bottom-6 right-6 z-50">
            {% if craft.app.request.segments|length > 0 and entry is defined %}
                <a href="{{ cpUrl('entries/' ~ entry.section.handle ~ '/' ~ entry.id) }}" class="flex items-center bg-deep-rose hover:bg-warm-brown text-white font-medium rounded-full py-2 px-4 shadow-lg transition duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                    </svg>
                    Edit
                </a>
            {% elseif craft.app.request.segments|length > 0 and category is defined %}
                <a href="{{ cpUrl('categories/' ~ category.group.handle ~ '/' ~ category.id) }}" class="flex items-center bg-deep-rose hover:bg-warm-brown text-white font-medium rounded-full py-2 px-4 shadow-lg transition duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                    </svg>
                    Edit
                </a>
            {% endif %}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
</main>

{% include "@global/footer" %}

{% block scripts %}
{% endblock %}
</body>
</html>